/* Глобальные стили */
* {
  box-sizing: border-box;
}

:root {
  --accent-color: #222222;
  --logo-color: #005fa3;
  --under-dark-color: #ffffff;
  --footer-background: #2f303a;
  --bgc-focus: #264d69;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  color: var(--accent-color);
  font-family: roboto, sans-serif;
  background-color: #ffffff;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-footer-section {
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 140px;
  padding-bottom: 140px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #005fa3;
  line-height: 1.382;
}

.contact-list {
  display: flex;
  justify-content: flex-end;
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.32;
  color: #000;
  margin-bottom: 22px;
  margin-right: 40px;
}

.contact-list .link {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.32;
  color: #000;
}

.contact-list .item {
  margin-left: 40px;
}

.nav-list {
  display: flex;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.nav-list .item {
  margin-left: 68px;
}

.contact-list .item:first-child {
  margin-left: 0;
}

.hero-bgc {
  background-image: url(../image/fon.jpg);
  max-width: 1920px;
  max-height: 670px;
}

.hero-bgc .title {
  font-family: Merriweather, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.382;
  color: #ffffff;
  margin-bottom: 80px;
}

.hero-bgc .btn {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  color: rgba(255, 255, 255, 1);
  background-color: #005fa3;
  padding: 12px 55px;
}

.about {
  display: flex;
}

.pre-title {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.38;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.about .title {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.445;
  color: #000;
  margin-bottom: 60px;
}

.about .activ {
  color: #005fa3;
}

.about .text {
  width: 446px;
  font-family: roboro, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.38;
  color: #000;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 94px;
}

.about .box {
  width: 255px;
  height: 255px;
  background-color: #ebebeb;
}

.about .box:nth-child(1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.about .box:nth-child(2) {
  margin-bottom: 30px;
}

.about .box:nth-child(3) {
  margin-right: 30px;
}

.in-box {
  margin-left: 40px;
}

.in-box .item:nth-child(1) {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: 55px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.in-box .item:nth-child(2) {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.32;
  margin-bottom: 47px;
}

.in-box .item:nth-child(3) {
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.32;
  color: #005fa3;
  text-decoration-line: underline;
}

.work-section {
  background-color: #ebebeb;
}

.work-section .text {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.38;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.work-section .title {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.445;
  margin-bottom: 80px;
}

.work-section .partners {
  display: flex;
  justify-content: space-between;
}

.reviews .text {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.38;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.reviews .title {
  font-family: Merriweather, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.445;
  margin-bottom: 80px;
}

.review {
  background-color: #ebebeb;
}

.review .text {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.38;
  color: #000;
  padding-top: 45px;
  padding-left: 95px;
  padding-right: 95px;
}

.review-flex {
  display: flex;
  padding-left: 95px;
  padding-bottom: 45px;
}

.review-flex .face-img {
  margin-right: 35px;
}

.review-flex .item:nth-child(1) {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.38;
  color: #000000;
  margin-bottom: 10px;
}

.review-flex .item:nth-child(2) {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.38;
  color: #4f4f4f;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.footer-list li {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.38;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 40px;
}
